# ==========================================
# Conexão com a API (Backend)
# ==========================================
# Endereço base onde o FastAPI está rodando (sem a rota da API)
VITE_API_URL=http://localhost:8000